package views

templ Index() {
	@head()
	<body>
		Test
	</body>
}

templ head() {
	<!DOCTYPE html>
	<html lang="en-US">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width"/>
			<title>Lesta Games Internship</title>
		</head>
	</html>
}
